.container {
    max-width: auto;
    margin-bottom: auto;
  }
  
  /* Apply this class to your footer element */
.sticky-footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: #1B6392; 
    color: #fff;
    padding: 20px 0;
    text-align: center;
    height: 60px; 
  }
  